:root {
    /* Fonts */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Font sizes */
    --header-size: 32px;
    --title-size: 20px;

    /* Colors */
    --sidebar-color: #568ce3;
    --header-color: #fafafa;
    --content-color: #e5e7eb;
    --plain-text: #4f5255;
}

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background: linear-gradient(0deg, rgba(48, 94, 168, 1) 0%, rgba(25, 89, 193, 1) 35%, rgba(86, 140, 227, 1) 100);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#main {
    width: min(1400px, 100%);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    background-color: var(--sidebar-color);
    padding: 20px;

    display: grid;
    grid-template-rows: 80px 300px 300px;
    gap: 30px;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 /3;

    background-color: var(--header-color);

    display: grid;
    grid-template-rows: 1fr 2fr;

    padding: 15px 20px;
}

.content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--content-color);
    box-shadow: inset -2px 8px 16px -12px rgba(0,0,0,0.76);
    padding: 15px 25px;
    gap: 30px;
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.logo,
.side-button {
    color: var(--header-color);
}

.logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: var(--header-size);
    font-weight: 600;
    align-self: flex-start;
}

.side-button {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.icon {
    justify-self: center;
}

.icon svg {
    height: 24px;
    width: 24px;
}

.sidebar > ul {
    display: grid;
    grid-template-rows: repeat(auto-fill, 50px);
}

li {
    font-size: var(--title-size);
    font-weight: 600;
}

.top-header,
.bottom-header {
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.top-header
.search-bar {
    display: grid;
    grid-template-columns: 1.5fr 8fr;
}

.top-header
.current-user {
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
}

.user-name {
    font-size: var(--title-size);
}

.bottom-header
.user-header {
    display: grid;
    grid-template-columns: 2fr 7fr;
}

.user-header
.user-icon {
    display: grid;
    align-items: center;
}

.user-greet
.greet {
    display: grid;
    align-items: end;
}

.user-greet
.user {
    display: grid;
    align-items: flex-start;
    font-size: var(--title-size);
    font-weight: bold;
}

.bottom-header
.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-buttons button {
    font-weight: bold;
}

.content
.projects {
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 15px;
}

.content {
    display: grid;
    grid-template-rows: 1fr;
}

.side-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements,
.trending {
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 15px;
}

.projects
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 30px;
}

.search-button {
    display: grid;
    justify-content: end;
    padding-right: 20px;
}

.search-button button {
    background-color: var(--header-color);
    border: none;
}

svg {
    height: 30px;
    width: 30px;
}

.search-button button:hover {
    background-color: var(--header-color);
}

.search-input {
    display: grid;
    align-items: center;
}

.search-input input {
    background-color: #caccce;
    border-radius: 12px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 30px;
}

.notification {
    display: grid;
    justify-content: end;
    align-items: center;
}

.user-name {
    display: grid;
    align-items: center;
    font-weight: bold;
}

.user-icon {
    display: grid;
    justify-content: center;
}

.top-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.bottom-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.user-greet {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.button-new,
.button-upload,
.button-share {
    display: grid;
}

.header-buttons button {
    background-color: var(--sidebar-color);
    color: var(--header-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    place-self: center;
    height: 40%;
    width: 80%;
    border-radius: 24px;
    border: none;
}

.title {
    font-size: var(--title-size);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.projects
.title {
    font-weight: 550;
}

.card {
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 1fr 3fr 1.5fr;

    border-radius: 12px;
    overflow: hidden;
}

.card-title {
    font-weight: 550;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    align-items: flex-end;
}

.card-text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: var(--plain-text);
}

.card,
.ann-card,
.trending-card {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
}

.accent-column {
    grid-row: 1 / 4;
    background-color: #ffae50;
}

.card-title,
.card-text,
.card-controls {
    grid-column: 2 / -1;
    background-color: var(--header-color);
}

.card-controls {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-template-rows: 30px;
    justify-content: end;
    gap: 20px;
    padding-right: 20px;
}

.announcements
.title,
.trending
.title {
    font-weight: 550;
}

.ann-card-title {
    font-weight: 550;
}

.ann-card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--header-color);
    border-radius: 12px;
    padding: 20px;
}

.ann-card-text {
    font-size: smaller;
    color: var(--plain-text);
    overflow: hidden;
    text-overflow: ellipsis;
}

.ann-2nd {
    border-top: 1px solid #a4a7aa;
    border-bottom: 1px solid #a4a7aa;
}

.ann-1st,
.ann-2nd,
.ann-3rd {
}

.trending-list {
    background-color: var(--header-color);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trending-card {
    display: grid;
    grid-template-rows: 1fr;
    background-color: var(--header-color);
    border-radius: 12px;
    padding: 20px;
}

.trending-project {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.trending-project
.icon {
    grid-row: 1 / 3;
    align-self: center;
}
.icon
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.trending-project
.user,
.trending-project
.project-title {
    grid-column: 2 / 3;
}

.trending-project
.user {
    font-weight: 400;
    font-size: 16px;
    align-self: flex-end;
}

.project-title {
    color: var(--plain-text);
    font-size: 14px;
    font-weight: 300;
}
